@font-face {
  font-family: my_font;
  src: url("../webfonts/Pushster-Regular.ttf");
}

:root {
  --m-color: #8319F4;
}

body {
  font-family: my_font;
  background: #293D58;
}

.title,
.status {
  border: 5px solid #fff;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  background-color: var(--m-color);
  padding: 5px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-size: 25px;
}

.status {
  width: fit-content;
  height: fit-content;
  margin: 10px auto;
}

.game {
  position: relative;
  border: 2px solid var(--m-color);
  overflow: hidden;
   margin: auto;
 border-radius: 1rem;
  padding: 5px;
  max-width: 500px;
  height: 344px;
}

.container {
  font-weight: 900;
  font-size: 75px;
  color: #fff;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.cell_two,
.cell_singl {
  border: 2px solid #fff;
  cursor: pointer;
  user-select: none;
  border-radius: 1rem;
  height: 107px;
}

.return {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
  text-align: center;
  top: 0;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, .8);
  transform: scale(0);
  transition: .3s;
}

.return span {
  color: lime;
}


.btn {
  border: 3px solid #fff;
  border-radius: 2rem;
  font-size: 30px;
  background: var(--m-color);
  color: #fff;
  font-family: my_font;
  padding: 10px;
  display: block;
  margin: auto;
  width: fit-content;
}

.roles {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  transition: .5s;
}

a {
  text-decoration: none;
  width: 100%;
  display: inline-flex;
  color: lime;
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 5px;
  width: fit-content;
  box-shadow: 0 0 18px 10px #000 inset;
  animation: sc 1s infinite alternate ease-in-out;
    transform: scale(.8) rotateZ(-5deg)
}

.roles .btn {
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 10px auto;
}

@keyframes sc {
  100% {
    transform: scale(1) rotateZ(5deg)
  }
}